<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">INSCRIÇÃO CONFIRMADA</div>
            <h:dataTable var="o"
                         styleClass="order-table"
                         headerClass="order-table-header"
                         rowClasses="order-table-odd-row,order-table-even-row"
                         >
                <h:column>
                    <!-- column header -->
                    <f:facet name="header">Nome</f:facet>
                    <!-- row record -->
                    #{o.orderNo}
                </h:column>

                <h:column>
                    <f:facet name="header">Cpf</f:facet>
                        #{o.productName}
                </h:column>

                <h:column>
                    <f:facet name="header">Cidade</f:facet>
                        #{o.price}
                </h:column>

                <h:column>
                    <f:facet name="header">Estado</f:facet>
                        #{o.qty}
                </h:column>
            </h:dataTable>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputText value="#{inscricaoBean.candidato.dataHora}">
                    <f:convertDateTime dateStyle="full" locale="pt_BR"/>
                </h:outputText><br/>
            </h:panelGroup>
            <div class="submit">
                <h:commandButton value="Voltar" action="#{registroBean.setCandidatoList(CandidatoList)}"/>
            </div>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>